.histogram-generator-group{
    width: 70%;
    margin: auto;
    margin-top: 10vh;
}

.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
}

.bounds-container{
    background-color: gainsboro;
    padding-right: 10rem;
}

.label-input-group{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
    padding: 0.5rem 3rem;
}

.bound-input{
    padding: 0.25rem 0.25rem;
    width: 5rem;
    text-align: right;
}

.histogram-container{
    background-color: gainsboro;
    padding-right: 10rem;
}

.histogram-container h3{
    margin-top: -1px;
}

.red-heading{
    color: crimson;
    padding: 0.5rem 1rem;
}

.histogram-heading{
    color: crimson;
    padding-left: 1rem;
    padding-top: 1.5rem
}

.histogram-form{
    background-color: gainsboro;
}

.histogram-values-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
    padding: 0.5rem 3rem;
}

.new-grade-form{
    margin-top: 3vh;
    background-color: gainsboro;
}